
	.lc-tab {
		border-collapse : collapse ;
		margin-bottom : 2cm ;
	}

	.lct-c {
		border : 1px solid #c9c3bb ;
		min-width : 24px ;
		padding : 2px 8px ;
	}

	.lct-h {
		background-color : #1a5c33 ;
		color : #ffffff ;
		padding : 2px 8px ;
		text-align : center ;
	}

	.lct-hh {
		color : #80c0ff ;
	}

	.lct-sep {
		width : 24px ;
	}

	.al {
		text-align : left ;
	}

	.ac {
		text-align : center ;
	}

	.ar {
		text-align : right ;
	}

	.exp-lnk {
		color : #1a5c33 ;
		text-decoration : none ;
	}

	.exp-lnk:hover {
		color : #8b2e2e ;
		text-decoration : underline ;
	}
